@model FYP.Models.DirectionQ2
@{
    ViewBag.Title = "DirectionsP1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Directions - Sentence Construction</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div style="float: left; display: inline;">@Html.ActionLink("Back", "DirectionStart", "Class")</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="container" style="margin:0 auto">

            <div class="row">
                <h1> @Html.DisplayFor(x => x.Question) </h1>

            </div>
            <div class="row">

                <input type="text" name="attemptedAns" />
            </div>

            <div class="row">
                @Html.HiddenFor(x => x.ans1)
                @Html.HiddenFor(x => x.ans2)
                @Html.HiddenFor(x => x.ans3)
                @Html.HiddenFor(x => x.ans4)
            </div>
            <div class="row">
                <input type="submit" value="submit" class="btn btn-success" />
            </div>

        </div>

    </div>
}
