@model IEnumerable<FYP.Models.DirectionQ>
@{
    ViewBag.Title = "DirectionsP1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Directions - The Basics Pt.2</h2>

<script>
    $(document).ready(function () {
        $("#but1").click(function () {
            $(".radoption").show();
            $(".radoption").attr("disabled", true);
        });
    });


    function displayresults() {
        document.getElementById("SelectedRadio").innerHTML = "";
        var results = document.getElementByTagName('input');
        for (i = 0; i < results.length; i++) {
            if (results[i].type == "radio") {
                if (results[i].checked) {
                    document.getElementById("SelectedRadio").innerHTML
                        += "Q)" + results[i].name + "Your Selected Answer is: " + results[i].value + "<br/>";
                }
            }
        }
    }
</script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div style="float: left; display: inline;">@Html.ActionLink("Back to Directions Class List", "DirectionStart", "Class")</div>


<Center>
    <h3>Intro to Directions</h3>
    <hr />
    <table>
        @foreach (var item in Model)
        {
            if (item.Qid == 2)
            {
                <tr>
                    <td>@item.Qid) @item.Question?</td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" id="option1" name="@item.Qid" class="radoption" value="@item.option1" /> @item.option1<br />
                        <input type="radio" id="option1" name="@item.Qid" class="radoption" value="@item.option2" /> @item.option2<br />
                        <input type="radio" id="option1" name="@item.Qid" class="radoption" value="@item.option3" /> @item.option3<br />
                        <input type="radio" id="option1" name="@item.Qid" class="radoption" value="@item.option4" /> @item.option4<br />
                        <label id="correctans" name="@item.Qid" class="radoption" style="display:none"><b>Correct Answer: @item.CorrectAns</b></label>
                        <br />
                    </td>
                </tr>
            }
        }
    </table>
    <button id="but1" type="button" onclick="displayresults();">Next</button>
    <br />
    <label id="SelectedRadio"></label>
</Center>

