@model IEnumerable<FYP.Models.User>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grúpa @ViewBag.GName Leaderboard</h2>

<style>

    .tr:nth-child(1) td {
        background-color:gold;

    }

    .tr:nth-child(2) td {
        background-color: #c0c0c0;
    }

    .tr:nth-child(3) td {
        background-color: #cd7f32;
    }
.table{
    background-color: white;
}
</style>

<body>
    @foreach (var item in Model)
    {
        if (item.UserName == User.Identity.GetUserName())
        {

            if (item.GroupId == null)
            {
                <p>Not part of a Group! Create one @Html.ActionLink("here", "Create", "Groups")</p>
            }
            else
            {
                <p>@Html.ActionLink("Group Discussion", "Home", "Messages")</p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProgressXP)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.GroupId)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item2 in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item2.UserName)
                            </td>

                            <td>
                                @if (item2.ProgressXP != null)
                                {
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                                             aria-valuemin="0" aria-valuemax="100" style="width:@item2.ProgressXP%">
                                            @item2.ProgressXP%
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h5>No Progress Logged Yet!</h5>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item2.GroupId)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Home", new { id = item2.Id }, null)
                            </td>
                        </tr>


                    }

                </table>
            }
        }
    }

</body>
@foreach (var item2 in Model)
{


    <br />
    if (item2.isCreator == true)
    {
        <td>
            @Html.ActionLink("Edit", "Edit", "Groups", new { id = item2.GroupId }, null) |
            @Html.ActionLink("Delete", "Delete", "Groups", new { id = item2.GroupId }, null)
        </td>
    }
    <br />
    if (item2.UserName == User.Identity.GetUserName())
    {
        @Html.ActionLink("Leave Group", "Leave", new { id = item2.GroupId })
    }
}